Book App

<div ng-controller="BooksCtrl">

  <form ng-submit="addBook()">
    <input type="text" ng-model="newBook.title" placeholder="title">
    <input type="text" ng-model="newBook.author" placeholder="author">
    <input type="text" ng-model="newBook.isbn" placeholder="isbn">
    <input type="text" ng-model="newBook.description" placeholder="description">
    <button>Add Book</button>
  </form>
  
  <ul ng-repeat="book in books">
    <li>{{book.title}} - {{book.author}}<button ng-click="deleteBook()">Delete</button></li>
  </ul>
  





</div>